@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  
  /* font-family: "Poppins", sans-serif; */
  font-family: "Neuton", serif;
  font-size: large;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles/globals.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}
